doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Mini Twitter Projet ProgWeb L1 S2 2015')
  link(rel='shortcut icon', href='assets/ico/favicon.png')
  title Twitchers - 404
  // Bootstrap core CSS
  link(href='assets/css/bootstrap.css', rel='stylesheet')
  // Custom styles
  link(href='assets/css/style.css', rel='stylesheet')
br
br
br
.container
  .row
    .col-md-12
      a(href='/home')
        img.img-responsive(src='assets/img/dead_link.png')
      .col-md-6
      .col-md-6
        p  Sorry, dead link, try waking him up.
// Bootstrap core JavaScript
script(src='assets/js/bootstrap.js')
