doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Mini Twitter Projet ProgWeb L1 S2 2015')
    link(rel='shortcut icon', href='assets/ico/favicon.png')
    title Twitchers
    script(src='assets/js/jquery.min.js')
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // Custom styles
    link(href='assets/css/style.css', rel='stylesheet')
  body
    // navbar
    #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='home')
            span.glyphicon.glyphicon-leaf
          a.navbar-brand(href='public/#{user._id}')
            | #{user.username}
        .navbar-collapse.collapse
          .col-sm-9.col-md-7.pull-left
            form.navbar-form(role='search', action='/search', method='post', enctype='plain')
              .input-group
                input.form-control(type='text', placeholder='Search (profile, tweet, etc...)', name='research')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search
          .col-sm-3.col-md-3.pull-left
            ul.nav.navbar-nav
              li
                a(title='Home', href='/home')
                  span.glyphicon.glyphicon-home
              li
                a(title='Messages', href='/message')
                  span.glyphicon.glyphicon-envelope
              li
                a(title=' modify profile', href='/profile')
                  span.glyphicon.glyphicon-cog
              li
                a(title='LogOut', href='/signout')
                  span.glyphicon.glyphicon-off
    br
    br
    br
    br
    .container
      .row
        .col-md-3.col-sm-3.pull-left
          p.
            Utilisateur 1
          p.
            Utilisateur 2
          p.
            Utilisateur 3
          p.
            Utilisateur 4

        .col-md-7.col-sm-7.pull-left
          .row
            .overflow
              p.
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
                Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                Au plan typographique, le début d'un paragraphe est marqué par un léger renfoncement (alinéa) ou par un saut de ligne.
                Le symbole du paragraphe est §. La fin d'un paragraphe était autrefois indiquée par un pied-de-mouche (¶).
          .row
            form(role='form', action='/profile', method='post', enctype='plain')
              .col-md-11.col-sm-11.pull-left
                textarea(class="form-control" rows='3',name='message', placeholder='Your message')
              .col-md-1.col-sm-1.pull-left
                .input-group-btn
                  .form-group
                    br
                    button.btn.btn-default(type='submit')
                      | Send

    script(src='scripts.js')
    // Bootstrap core JavaScript
    script(src='assets/js/bootstrap.js')
