/*  Box logpage*/

.boxtweets
{
	border: 1px green solid;
}

.tweethead
{
	border-bottom: 1px green solid;
	padding:2px;
	margin-top:2px;
}

.nickname
{
	left:0px;

}

.number
{
	float:right;
}
.date
{
	float:left;
}

.bodytweet
{
	margin-top:2px;
	border-bottom: 1px green solid;
}

.footertweet
{

}

/* Other */



.center
{
	text-align:center;
}

.tahoma
{
	font-family:tahoma;
}


p
{
	font-family:tahoma;
}

/* Font Face */
@font-face {
	font-family: 'tahoma';
	src: url('assets/Tahoma.otf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}


/* Navbar */
.navbar-brand
{
	font-family:"tahoma";
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    color: green;
}


/* Register div*/
#register
{
	background-image:url('assets/img/concrete_seamless.png');
	background-repeat:repeat;
}

#register h1
{
    font-family: "Helvetica";
	font-weight:bold;
    color: #000;
	border-bottom: 1px solid #ccc;
}

#register h2
{
    font-family: "Helvetica";
	font-weight:bold;
    color: #000;
}

#register h3
{
	font-family: "Helvetica";
	font-weight:italic;
	color:green;

}

/* Divider */

#divider
{
	margin-top:10%;
	margin-bottom:10%;
}

#divider a
{
	font-size:20px;
	color:white;
}

/* Contact div */
#contact
{
	background-color:green;
}

/* Log page */

#wrapper {
  border: 1px #e4e4e4 solid;
}





